<!DOCTYPE html>
<html>
  <head>
    <title>Hogwarts School Web App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <header>
        <h1>Hogwarts School of Witchcraft and Wizardry</h1>
        <p><%= link_to "Home", root_path %></p>
      </header>
      <%= yield %>
      <footer>
        <p>Thanks to <a href = "https://github.com/faker-ruby/faker">Faker</a> for the data on this site</p>
      </footer>
    </div>
  </body>
</html>
